<header class="wf100 header-two">
  <div class="h3-logo-row wf100">
    <div class="container">
      <div class="row">
        <div>
          <div class="h3-logo">
            <a href="index.html">
              <img class="logo" src="assets/images/logo.jpeg" alt="">
            </a>
          </div>
        </div>
        <div>
          <ul class="header-contact">
            <li><span>Contact:</span> <strong>70-70-70-70/65-65-65-65</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="h3-navbar wf100">
    <div class="container">
      <app-main-menu [menu]="menu"></app-main-menu>
    </div>
  </div>
</header>
