.logo {
  width: 150px !important;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.header-top-logo-text {
  display: flex;
  align-items: center;
}

.header-to-logo-text__text {
  font-size: 2rem;
  font-weight: bold;
}

.collapse {
  display: block;
}

.mayor-welcome-text {}

@media (max-width: 400px) {
  .header-to-logo-text__text {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    display: flex !important;
    align-items: center;
  }

  .header-to-logo-text__text {
    display: none;
  }

  .h3-navbar {
    border: none;
  }

  .subheader {
    padding: 10px 0 !important;
  }
}
