<header class="wf100 header-two">
  <div class="h3-logo-row wf100">
    <div class="header-top">
      <div class="header-top-logo-text">
        <div class="h3-logo">
          <a routerLink="/">
            <img class="logo" src="assets/images/logo.jpeg" alt="">
          </a>
        </div>
        <div class="header-to-logo-text__text">
          <p>Cellule Nationale de Traitement des Informations Financières</p>
        </div>
      </div>
      <div>
        <ul class="header-contact">
          <li><span>Téléphone:</span> <strong>25 30 58 64</strong></li>
          <li><span>Email:</span> <strong>info@centif.bf</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="h3-navbar wf100">
    <div class="container">
      <app-main-menu [menu]="menu"></app-main-menu>
    </div>
  </div>
</header>
