<app-caroussel></app-caroussel>
<div class="main-content">
  <section class="Mayor-video-msg">
    <p class="mayor-welcome-text">
      {{homeText?.data?.attributes?.homeText}}
    </p>
  </section>
  <section class="wf100 city-news p75">
    <div>
      <div class="title-style-3">
        <h3>Nos Dernières Nouvelles</h3>
      </div>
      <div class="news">
        <div class="news__item" *ngFor="let article of articles?.data">
          <div class="news-box">
            <div class="new-thumb">
              <img
                src="{{environment.baseUrl + article.attributes.coverImage.data.attributes.formats.small.url}}"
              alt="Illustration">
            </div>
            <div class="new-txt">
              <ul class="news-meta">
                <li>{{article.attributes.publishedAt | date: 'dd/MM/yyyy'}}</li>
              </ul>
              <h6>
                <a routerLink="/articles/{{article.id}}">
                  {{article.attributes.title}}
                </a>
              </h6>
              <p [innerHTML]="article.attributes.content | slice:0:100">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="wf100 p75-50  depart-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-style-3">
            <h3>Nos partenaires</h3>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4"  *ngFor="let link of usefulLinks">
              <div class="deprt-icon-box">
                <img class="usefulLink-img" [src]="link.img" alt="logo">
                <h6>
                  <a href="{{link.link}}">{{link.text}}</a>
                </h6>
                <a class="rm" href="{{link.link}}">Aller sur le site</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
