<div
  [style.height.px]="height"
  class="caroussel__items"
  #carousselItems
>
  <button (click)="changeDirection(currentPosition - 1)" class="slide-arrow" id="slide-arrow-prev">
    &#8249;
  </button>
  <button (click)="changeDirection(currentPosition + 1)" class="slide-arrow" id="slide-arrow-next">
    &#8250;
  </button>

  <div
    [ngStyle]="{'transform': 'translateX(' + 100 * (index - currentPosition) + '%)'}"
    class="caroussel__item"
    *ngFor="let item of slider?.data?.attributes?.images?.data; let index=index">
    <div class="caroussel__item__image">
      <img src="{{environment.baseUrl + slider.data.attributes.images.data[slider.data.attributes.images.data.length - index -1].attributes.url}}" alt="">
    </div>
  </div>
</div>
