<section class="wf100 subheader">
  <div class="container">
    <h2>{{article?.data?.attributes?.title}}</h2>
    <ul>
      <li> <a routerLink="/">Accueil</a> </li>
      <li> <a routerLink="articles">Actualité</a> </li>
      <li>{{article?.data?.attributes?.title}}</li>
    </ul>
  </div>
</section>
<div class="main-content p80">
  <div class="news-details">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="news-box">
            <div class="new-thumb">
              <a href="#">
                <i class="fas fa-link"></i>
              </a>
              <img src="{{environment.baseUrl + article?.data?.attributes?.coverImage?.data?.attributes?.formats?.medium?.url}}" alt="">
            </div>
            <div class="new-txt">
              <ul class="news-meta">
                <li>{{article?.data?.attributes?.publishedAt | date: 'mediumDate': 'UCT': 'fr-FR'}}</li>
              </ul>
              <div class="news-content" [innerHTML]="article?.data?.attributes?.content"></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="sidebar">
            <div class="widget">
              <h4>Derniers articles</h4>
              <div class="recent-posts inner">
                <ul>
                  <li *ngFor="let article of articles?.data">
                    <img src="{{environment.baseUrl + article.attributes.coverImage.data.attributes.formats.small.url}}" alt=""> <strong>{{ article.attributes.publishedAt | date: 'mediumDate': 'UCT': 'fr-FR' }}</strong>
                    <h6>
                      <a routerLink="/articles/{{article.id}}">
                        {{article.attributes.title}}
                      </a>
                    </h6>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
