<footer class="home3 main-footer wf100">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="textwidget"> <img src="images/footer-logo2.png" alt="">
          <address>
            <ul>
              <li> <i class="fas fa-university"></i> <strong>Adresse:</strong> Ouaga 01, avenue Yennega</li>
              <li> <i class="fas fa-envelope"></i> <strong>Email:</strong> info@centif.org </li>
              <li> <i class="fas fa-phone"></i> <strong>Tééphone:</strong> 25 30 58 64
              </li>
            </ul>
          </address>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-widget">
          <h6>Liens utiles</h6>
          <ul>
            <li>
              <a target="_blank" href="https://www.finances.gov.bf/accueil"><i class="fas fa-star"></i> MEFP</a>
            </li>
            <li>
              <a target="_blank" href="https://www.giaba.org/?lng=fr"><i class="fas fa-star"></i> GIABA</a>
            </li>
            <li>
              <a target="_blank" href="https://www.fatf-gafi.org/fr/home.html"><i class="fas fa-star"></i> GAFI</a>
            </li>
            <li>
              <a target="_blank" href="https://bceao.int"><i class="fas fa-star"></i> BCEAO</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
