<footer class="home3 main-footer wf100">
  <div class="container">
    <h6 class="footer-title">Liens utiles et contacts</h6>
    <div class="footer-box">
      <div class="footer-box__part1">
        <div class="textwidget">
          <address>
            <ul>
              <li> <i class="fas fa-university"></i> <strong>Adresse:</strong> Ouaga 01, avenue Yennega</li>
              <li> <i class="fas fa-envelope"></i> <strong>Email:</strong> info@centif.org </li>
              <li> <i class="fas fa-phone"></i> <strong>Téléphone:</strong> 25 30 58 64
              </li>
            </ul>
          </address>
        </div>
        <div class="footer-widget">
          <ul>
            <li>
              <a target="_blank" href="https://www.finances.gov.bf/accueil"><i class="fas fa-star"></i> MEFP</a>
            </li>
            <li>
              <a target="_blank" href="https://www.giaba.org/?lng=fr"><i class="fas fa-star"></i> GIABA</a>
            </li>
            <li>
              <a target="_blank" href="https://www.fatf-gafi.org/fr/home.html"><i class="fas fa-star"></i> GAFI</a>
            </li>
            <li>
              <a target="_blank" href="https://bceao.int"><i class="fas fa-star"></i> BCEAO</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="twitter-widget">
        <div class="tw-txt">

          <a href="#" class="reply-tw"><i class="fas fa-reply"></i></a>
          <p> La lutte contre le blanchiment de capitaux et le financement du terrorisme est une lutte dans laquelle il faut une implication de toutes les composantes.
          </p>
        </div>
        <div class="tw-footer"> CENTIF <strong>BURKINA FASO</strong> </div>
      </div>
    </div>
  </div>
</footer>
