.new-txt {
  padding: 10px !important;
  color: green !important;
  height: 80px !important;
  text-align: center;
}

.new-thumb {
  text-align: center !important;
}

.new-thumb img {
  width: 100px !important;
  text-align: center;
}
