<app-backdrop [isVisible]="isLoading"></app-backdrop>

<app-sub-header [title]="pageData.title">
  <li>{{pageData.title}}</li>
</app-sub-header>

<div class="main-content p80" *ngIf="documents">
  <div class="news-wrapper news-grid">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6" *ngFor="let document of documents">
          <div class="news-box">
            <div class="new-thumb">
              <img src="assets/images/pdf-logo.jpeg" alt="PDF">
            </div>
            <div class="new-txt">
              <p>
                <a
                  target="_blank"
                  href="{{environment.baseUrl + document.attributes.url}}">
                  {{document.attributes.caption || document.attributes.name}}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
